.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

img {
  width: 150px;
  transform: scale(1);
}
:hover {
  transform: scale(1.05);
}
