<div class="container">
  <p>{{ monsterName }}</p>

  <app-monster-ailment
    [ailments]="monsterDetails.monster_Ailments"
  ></app-monster-ailment>

  <app-monster-weakness
    [weaknesses]="monsterDetails.monster_Weaknesses"
  ></app-monster-weakness>

  <app-monster-break
    [breaks]="monsterDetails.monster_Breaks"
  ></app-monster-break>

  <app-monster-hitzone
    [hitzones]="monsterDetails.monster_Hitzones"
  ></app-monster-hitzone>

  <app-monster-reward
    [rewards]="monsterDetails.monster_Rewards"
  ></app-monster-reward>

  <app-monster-habitat
    [habitats]="monsterDetails.monster_Habitats"
  ></app-monster-habitat>
</div>
